

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    
    

}

h1, h2 {
    margin: 0;
}
h4 {
    margin-left: 21px;
}
#faculty-introduction {
    padding: 20px;
}

#faculty-introduction h3 {
    text-align: center;
    color: #4CAF50;
}

.faculty-section {
    margin: 20px 0;
}

.faculty-section h4 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.faculty-member {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.faculty-member img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.faculty-details {
    flex: 1;
}

.faculty-details h5 {
    margin: 0;
    color: #4CAF50;
}

.faculty-details p {
    margin: 5px 0;
}



